<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unimi.lim.hmi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.TimbreDetailActivity"
            android:parentActivityName=".ui.TimbreListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unimi.lim.hmi.ui.TimbreListActivity" />
        </activity>
        <activity
            android:name=".ui.TimbreListActivity"
            android:label="@string/title_activity_timbre_list_select"
            android:parentActivityName=".ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unimi.lim.hmi.ui.SettingsActivity" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.KeyboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.unimi.lim.hmi.ui.KeyboardActivity" />
        </activity>
        <activity
            android:name=".ui.KeyboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>